/* *{

}
body{
    background-color: black;
}

.container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
} */
.search{
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    justify-content: space-evenly;
}
.right{
    display: flex;
    justify-content: space-between;
}